*.o
*.exe
*.so
CMakeCache.txt
Makefile
*.cmake
*.cbp
.project
.cproject
.settings
.tag*
*.sublime-project
*.sublime-workspace
.DS_Store
.idea/
plib/*
**/lib/
*.py
*.pyc
**.iml
**/target
**/*.log
**/*.log.*
.vscode
build/
cmake-build-debug/
**/CMakeFiles/
